body {
    background-image: url(../images/79-790662_burger-transparent-images-mbyi360-burger.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 30px;
    background-size: 60%;
    padding-top: 50px
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    text-emphasis: size;
    text-decoration-line: underline
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    text-emphasis: size;
    text-decoration-line: underline

}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    text-emphasis: size;
}


.container {
    color:rgb(20, 20, 20);
    text-align: left;
    /* margin-left: 50px; */
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.notDevoured{
    background-color: aliceblue;
    opacity: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.devoured{
    background-color: blanchedalmond;
    opacity: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.col-md-4 {
    background-color: aliceblue;
    opacity: 80%;
    padding-top: 10px;
    padding-bottom: 20px
}

.addBurger {
    margin-left: auto;
    margin-right: auto
}

.moveMe {
    text-align: center;
    margin: 0 auto 3% 0
}

.showBurger {
    text-align: center;
    font-size: 28px;
    font-family: 'Cabin Condensed', sans-serif
}

.devourBurger
{
    text-align: center;
    font-size: 28px;
    font-family: 'Cabin Condensed', sans-serif

}
.devourBtn{
    background-color: black;
    color:white;
}

.btn {
    padding-top: 0px
}

p {
    color: rgb(241, 62, 31)
}

@media screen and (max-width: 640px) {
    }

@media screen and (max-width: 768px) {
    }

@media screen and (max-width: 980px) {
    }
